@model PCILicitacion.Model.LicitacionAdjudicacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LicitacionAdjudicacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Licitacion.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Licitacion.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LicitacionOfertaPartida.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LicitacionOfertaPartida.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LicitacionPartida.Observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LicitacionPartida.Observaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Licitante.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Licitante.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
