@model IEnumerable<PCILicitacion.Model.LicitacionPartidaProductoMarcas>

@{
    ViewBag.Title = "Marcas";
}

<h2>Marcas</h2>

<p>
    @Html.ActionLink("Nueva", "LicitacionPartidaProductoCreate", new { Id = ViewBag.Id })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductoMarca.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductoMarca.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
